{{template "base" .}}

{{define "title"}}
  <title>Home</title>
{{end}}

{{define "content"}}
  <div>
  <h1>Home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
      tempora, fuga cupiditate obcaecati quas dolore fugit repudiandae,
      temporibus molestiae ab et placeat officiis eos in consequatur est quos
      laborum. Et
    </p>
  </div>
{{end}}